In [146]:
import numpy as np
import skfuzzy as fuzz
import matplotlib.pyplot as plt
import random
import pandas as pd

rows=71
columns=80
list_rows=[]
list=[]

feedback= ['absolutely sure', 'very sure', 'sure', 'neutral', 'unsure', 'very unsure', 'absolutely unsure']
for row in range (rows):
    list_rows=[]
    for column in range (columns):
        list_rows.append(feedback[random.randrange(len(feedback))]) 
    list.append(list_rows)
dataset =pd.DataFrame(list)
dataset.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
47,very sure,absolutely sure,very unsure,very sure,unsure,neutral,absolutely sure,unsure,sure,neutral,...,absolutely unsure,sure,very sure,neutral,absolutely sure,sure,absolutely unsure,absolutely sure,absolutely unsure,sure
39,absolutely unsure,very sure,absolutely sure,absolutely unsure,unsure,very unsure,absolutely sure,sure,absolutely sure,unsure,...,sure,sure,unsure,sure,very sure,sure,unsure,absolutely unsure,absolutely sure,absolutely sure
18,very unsure,very sure,absolutely unsure,very sure,unsure,unsure,absolutely unsure,very sure,very sure,very sure,...,neutral,sure,very unsure,absolutely unsure,absolutely unsure,very sure,absolutely sure,absolutely sure,sure,absolutely sure
15,sure,unsure,absolutely unsure,very sure,very unsure,absolutely unsure,sure,very unsure,neutral,absolutely sure,...,neutral,sure,neutral,sure,absolutely sure,unsure,very unsure,very unsure,absolutely unsure,absolutely unsure
50,unsure,neutral,unsure,very unsure,very unsure,sure,sure,very sure,very sure,absolutely sure,...,unsure,unsure,absolutely sure,neutral,very sure,absolutely unsure,neutral,sure,neutral,absolutely sure

# Linguistic forms and fuzzy membership functions of answers (part A) and reliability (part B)

In [147]:
Linguistic_term=['absolutely sure', 'very sure', 'sure', 'neutral', 'unsure', 'very unsure', 'absolutely unsure']
Fuzzy_membership_function= {1: ['absolutely sure','0.80', '0.90', '1.00'], 2: ['very sure','0.75','0.80','0.85'], 3: ['Sure','0.60','0.75','0.80'], 4: ['Neutral','0.40','0.50','0.65'],
                           5:['Unsure','0.30','0.40','0.50'], 6:['Very unsure','0.10','0.20','0.35'], 7:['Absolutely unsure','0.00','0.10','0.15']}
fmf_dataset= pd.DataFrame(Fuzzy_membership_function)
print(fmf_dataset)

                 1          2     3        4       5            6  \
0  absolutely sure  very sure  Sure  Neutral  Unsure  Very unsure
1             0.80       0.75  0.60     0.40    0.30         0.10
2             0.90       0.80  0.75     0.50    0.40         0.20
3             1.00       0.85  0.80     0.65    0.50         0.35

                   7
0  Absolutely unsure
1               0.00
2               0.10
3               0.15

In [148]:
Numerical=dataset.replace({'absolutely sure':1, 'very sure':2, 'sure':3, 'neutral':4, 'unsure':5, 'very unsure':6, 'absolutely unsure':7})
Numerical.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
1,5,4,3,7,7,1,5,4,4,2,...,4,6,6,5,5,4,2,6,6,7
39,7,2,1,7,5,6,1,3,1,5,...,3,3,5,3,2,3,5,7,1,1
10,2,3,7,7,2,1,2,3,2,2,...,7,7,5,2,1,1,6,3,7,1
9,6,6,4,1,2,5,6,3,2,1,...,3,4,4,1,2,2,3,7,2,1
23,3,7,6,4,1,5,1,6,5,3,...,1,7,7,6,7,2,7,5,3,5

In [149]:
Question= pd.DataFrame(Numerical.iloc[:,::2])
Question.sample(5)

Reliability= pd.DataFrame(Numerical.iloc[:,1::2])
Reliability.sample(5)

,1,3,5,7,9,11,13,15,17,19,...,61,63,65,67,69,71,73,75,77,79
33,2,6,1,5,1,3,4,2,7,7,...,4,4,1,7,3,4,7,1,1,6
52,6,6,7,5,3,6,2,1,6,2,...,2,4,7,5,1,3,6,5,2,5
51,7,4,7,6,2,5,2,5,2,5,...,5,7,7,4,3,6,7,7,3,6
18,2,2,5,2,2,5,1,5,2,6,...,3,1,6,7,3,3,7,2,1,1
55,6,6,7,7,1,3,2,1,2,6,...,1,5,6,6,5,4,1,1,1,4

# Calculating Cronbach's alpha

In [150]:
#CONVERSION OF FUZZY VARIABLES INTO CRISP DATA

def conversion_to_crisp(fuzzy_set):
     
    Crisp_value= np.mean(fuzzy_set, dtype=np.float64)
    return Crisp_value
Crisp_values=np.ones(7)
for i in range(7):
    Crisp_values[i]=conversion_to_crisp(np.array(fmf_dataset.iloc[1:,i]))
 
print(Crisp_values)

[0.9        0.8        0.71666667 0.51666667 0.4        0.21666667
 0.08333333]

In [151]:
array=np.arange(1,8,1)
print(array)

Crisp_values_reliability_dataset=Reliability.replace(array,Crisp_values)   
Crisp_values_reliability_dataset.sample(5)

[1 2 3 4 5 6 7]

,1,3,5,7,9,11,13,15,17,19,...,61,63,65,67,69,71,73,75,77,79
46,0.800000,0.083333,0.083333,0.900000,0.083333,0.800000,0.216667,0.716667,0.216667,0.800000,...,0.400000,0.400000,0.516667,0.216667,0.083333,0.083333,0.216667,0.083333,0.083333,0.216667
12,0.516667,0.516667,0.516667,0.716667,0.083333,0.716667,0.400000,0.516667,0.900000,0.900000,...,0.800000,0.900000,0.800000,0.400000,0.400000,0.083333,0.083333,0.900000,0.716667,0.516667
62,0.716667,0.800000,0.216667,0.716667,0.216667,0.516667,0.400000,0.216667,0.400000,0.716667,...,0.516667,0.900000,0.400000,0.216667,0.516667,0.516667,0.516667,0.083333,0.516667,0.400000
22,0.216667,0.516667,0.400000,0.400000,0.516667,0.083333,0.083333,0.900000,0.083333,0.216667,...,0.516667,0.083333,0.083333,0.716667,0.216667,0.516667,0.716667,0.216667,0.516667,0.900000
64,0.400000,0.400000,0.216667,0.800000,0.400000,0.083333,0.216667,0.900000,0.400000,0.800000,...,0.400000,0.800000,0.900000,0.400000,0.216667,0.400000,0.800000,0.083333,0.083333,0.400000

In [152]:
Crisp_dataset=Crisp_values_reliability_dataset.apply(np.sqrt) 
Crisp_dataset.sample(5)

,1,3,5,7,9,11,13,15,17,19,...,61,63,65,67,69,71,73,75,77,79
55,0.465475,0.465475,0.288675,0.288675,0.948683,0.846562,0.894427,0.948683,0.894427,0.465475,...,0.948683,0.632456,0.465475,0.465475,0.632456,0.718795,0.948683,0.948683,0.948683,0.718795
62,0.846562,0.894427,0.465475,0.846562,0.465475,0.718795,0.632456,0.465475,0.632456,0.846562,...,0.718795,0.948683,0.632456,0.465475,0.718795,0.718795,0.718795,0.288675,0.718795,0.632456
28,0.948683,0.288675,0.894427,0.846562,0.894427,0.948683,0.846562,0.948683,0.465475,0.465475,...,0.718795,0.288675,0.718795,0.465475,0.465475,0.948683,0.288675,0.846562,0.632456,0.846562
37,0.846562,0.718795,0.465475,0.718795,0.718795,0.846562,0.948683,0.632456,0.894427,0.288675,...,0.846562,0.465475,0.846562,0.632456,0.632456,0.894427,0.288675,0.632456,0.465475,0.632456
16,0.632456,0.288675,0.948683,0.632456,0.288675,0.632456,0.288675,0.948683,0.632456,0.846562,...,0.288675,0.718795,0.718795,0.465475,0.948683,0.465475,0.288675,0.894427,0.288675,0.948683

In [153]:
Question1=Question.replace(array,Crisp_values)
Crisp=Crisp_dataset.div(3)
Crisp.sample(5)

,1,3,5,7,9,11,13,15,17,19,...,61,63,65,67,69,71,73,75,77,79
34,0.155158,0.282187,0.096225,0.316228,0.210819,0.210819,0.282187,0.210819,0.239598,0.210819,...,0.239598,0.096225,0.282187,0.155158,0.316228,0.316228,0.282187,0.155158,0.096225,0.282187
38,0.282187,0.239598,0.096225,0.210819,0.298142,0.298142,0.282187,0.155158,0.282187,0.282187,...,0.298142,0.210819,0.282187,0.239598,0.316228,0.096225,0.210819,0.298142,0.282187,0.096225
25,0.096225,0.155158,0.096225,0.282187,0.210819,0.298142,0.239598,0.096225,0.155158,0.239598,...,0.239598,0.096225,0.155158,0.282187,0.096225,0.239598,0.155158,0.282187,0.096225,0.210819
11,0.282187,0.316228,0.282187,0.155158,0.282187,0.155158,0.096225,0.298142,0.298142,0.210819,...,0.210819,0.298142,0.210819,0.298142,0.096225,0.155158,0.298142,0.239598,0.096225,0.096225
58,0.316228,0.155158,0.298142,0.210819,0.096225,0.155158,0.298142,0.316228,0.096225,0.239598,...,0.155158,0.096225,0.096225,0.210819,0.155158,0.096225,0.096225,0.282187,0.096225,0.155158

In [154]:
matrix=pd.DataFrame(Crisp.values*Question1.values, columns=Crisp.columns, index=Crisp.index)
matrix.sample(5)

,1,3,5,7,9,11,13,15,17,19,...,61,63,65,67,69,71,73,75,77,79
60,0.086603,0.189737,0.139642,0.215639,0.076980,0.119257,0.017568,0.086603,0.145797,0.215639,...,0.045677,0.019967,0.068961,0.095839,0.024845,0.171712,0.062063,0.163384,0.045677,0.111197
63,0.033618,0.038490,0.154040,0.084327,0.268328,0.124127,0.145797,0.151087,0.049716,0.095839,...,0.215639,0.145797,0.049716,0.238514,0.095839,0.112875,0.076980,0.023516,0.080165,0.112875
59,0.123793,0.062063,0.163384,0.049716,0.238514,0.038490,0.111197,0.068516,0.238514,0.225750,...,0.225750,0.171712,0.226630,0.112875,0.008019,0.051913,0.008019,0.084327,0.268328,0.112875
11,0.202234,0.252982,0.023516,0.111197,0.225750,0.139642,0.068961,0.238514,0.238514,0.017568,...,0.108923,0.024845,0.084327,0.064598,0.049716,0.124127,0.119257,0.191679,0.008019,0.049716
38,0.061141,0.215639,0.049716,0.084327,0.238514,0.213669,0.112875,0.139642,0.253969,0.225750,...,0.154040,0.189737,0.112875,0.095839,0.068516,0.068961,0.108923,0.119257,0.225750,0.086603

In [168]:
TMC=matrix.iloc[:,:4].mean(axis=1)
LR=matrix.iloc[:,4:7].mean(axis=1)
FL=matrix.iloc[:,7:11].mean(axis=1)
RC=matrix.iloc[:,11:14].mean(axis=1)
AW=matrix.iloc[:,14:19].mean(axis=1)
PR=matrix.iloc[:,19:23].mean(axis=1)
RD=matrix.iloc[:,23:25].mean(axis=1)

H=matrix.iloc[:,25:30].mean(axis=1) 
S=matrix.iloc[:,30:33].mean(axis=1)
E=matrix.iloc[:,33:38].mean(axis=1)
ER=matrix.iloc[:,38:39].mean(axis=1)

data=[TMC,LR,FL,RC,AW,PR,RD,H,S,E,ER]
IMF=pd.DataFrame(data)
IMF.T.sample(5)

,0,1,2,3,4,5,6,7,8,9,10
31,0.070577,0.123739,0.146839,0.145470,0.119804,0.127697,0.168259,0.160284,0.065912,0.115015,0.112875
51,0.102827,0.156001,0.142137,0.124548,0.163263,0.140001,0.232572,0.140548,0.080299,0.064635,0.145797
13,0.117266,0.135829,0.172411,0.079764,0.059825,0.093522,0.190230,0.116122,0.119736,0.075126,0.168655
47,0.150789,0.192362,0.136052,0.137111,0.148255,0.116279,0.126051,0.105531,0.102579,0.116760,0.026352
49,0.169752,0.172791,0.121791,0.130347,0.115514,0.116121,0.123739,0.095517,0.061409,0.078705,0.171712